#
# Linaro Qemu from git
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/base.cfg

#
# linaro qemu master at time of writing.
#
%define qemu_version ac0bfdb9c310276521e5b089d7f36c1f610ca60b

#
# Qemu is from GIT.
#
%source set qemu git://git.linaro.org/qemu/qemu-linaro.git?pull?checkout=%{qemu_version}?submodule=dtc

# The Qemu build instructions. We use 1.x.x Release 1.
%include %{_configdir}/qemu-1-1.cfg
